.table {
    display: table;
    border-collapse: separate;
    border-spacing: 10px;
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.required {
    font-weight: bold;
    color: red;
    padding: 0 0.25em;
}

@media screen and (min-width: 320px) {
    .row {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 425px) {
    .row {
        display: table-row;
    }
}
